.sect {
  .more {
    display: flex;
    align-items: center;
    justify-content: center;
    .text {
      display: block;
      align-items: center;

      margin-left: 200px;
      h2 {
        color: rgb(226, 52, 52);
        font-weight: 700;
        font-size: 18px;
      }
      h1 {
        width: 400px;
        color: rgb(133, 120, 133);
        font-size: 50px;
        font-weight: 100;
        span {
          color: rgb(92, 14, 98);
        }
      }
      p {
        padding: 10px 0;
        width: 440px;
        color: rgb(133, 120, 133);
        font-size: 14px;
      }
      button {
        padding: 10px 0;
        border: none;
        background: none;
        color: rgb(92, 14, 98);
        font-size: 20px;
        cursor: pointer;
        font-weight: 700;
      }
    }
    .img {
      margin-left: -150px;
    }
  }
}
