.footer {
  background: rgb(33, 9, 51);
  padding: 90px;
  .global {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo {
      margin-top: 80px;
      display: grid;
      align-items: center;
      gap: 20px;
      h1 {
        color: white;
        font-weight: 700;
        font-size: 14px;
      }
      p {
        color: gray;
        font-weight: 700;
        font-size: 14px;
      }
    }
  }
}
